<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>
    <form action ="/login" method="POST">
        <div>
            <label for="name">사용자 이름</label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for ="password">비밀번호</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <button>로그인</button>
    </form>
</body>
</html>