<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <h1> THIS IS HOMEPAGE <%= 4 + 5 + 1 %> <!-- 자바스크립트 처럼 취급  --> </h1>
    <P>
        This test requires candidates to download data files, perform assignments within word processing software, and
        upload their solution files for automatic evaluation. Candidates can use either their personal copy of MS Word
        or the free web version of MS Word to complete the test.
    </P>

</body>

</html>