<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑장 정보 수정</title>
</head>
<body>
    <h1>캠핑장 정보 수정</h1>
    <form action ="/campGrounds/<%= campGroundDetail._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">캠핑장 이름</label> 
            <input type="text" id="title" name="campGround[title]" value="<%= campGroundDetail.title %>">  <!--post 요청시 req.body에 내용을 그룹화함 ex ) {"campGround":{"title":"erer","location":"erer"}}-->
        </div>
        <div>
            <label for="location">캠핑장 위치</label>
            <input type="text" id="location" name="campGround[location]" value="<%= campGroundDetail.location %>">  
        </div>
        <button>수정</button>
    </form>
    <a href="/campGrounds/<%= campGroundDetail._id %>">취소</a>
</body>
</html>