<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑장 등록하기</title>
</head>
<body>
    <form action ="/campGrounds" method="POST">
        <div>
            <label for="title">캠핑장 이름</label> 
            <input type="text" id="title" name="campGround[title]">  <!--post 요청시 req.body에 내용을 그룹화함 ex ) {"campGround":{"title":"erer","location":"erer"}}-->
        </div>
        <div>
            <label for="location">캠핑장 위치</label>
            <input type="text" id="location" name="campGround[location]">  
        </div>
        <button>등록</button>
    </form>
    <a href="/campGrounds">취소</a>
</body>
</html>